<%- include("partials/header"); -%>
<h1>This is the about page</h1>
<p>Here is some information about me</p>
<p>I am a 3rd year student who made this simple blog website to showcase my skills in fullstack web development</p>

<%- include("partials/footer"); -%>