<%- include('partials/header') %>

<form action="/compose" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
    </div>
    <input type="submit" value="Post" class="btn btn-primary">
</form>

<%- include('partials/footer') %>