<%- include("partials/header"); -%>
<h1>Contact details</h1>
<p>Email: siddhantdaryanani@gmail.com</p>
<p>linkedin profile: <a href="https://www.linkedin.com/in/siddhant-daryanani-501751205/">Click this link</a></p>
<%- include("partials/footer"); -%>