body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right,#868F96 ,#596164);
  }

  header {
    padding: 30px 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  nav {
    margin-bottom: 30px;
    background-image: linear-gradient(to right,#868F96 ,#596164);

  }
  
  main {
    padding: 30px 0;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  footer {
    background-image: linear-gradient(to right,#868F96 ,#596164);
    color: #fff;
    padding: 20px;
    margin-top: 350px;
  }
  
  p {
    text-align: center;
    margin: 0;
  }

  .content{
    background-image: linear-gradient(to right,#868F96 ,#596164);
  }

  .title{
    background-image: linear-gradient(to right,#868F96 ,#596164);
  }